<div class="laptop-container">
  <div class="laptop-frame">
    <div class="screen-frame">
      <div class="toolbar">
        <div class="toolbar-tab">
          <div class="tab"></div>
        </div>
        <div class="button-container">
          <div class="close"></div>
          <div class="expand"></div>
          <div class="minimize"></div>
        </div>
      </div>
      <div class="screen-container">
        <div class="line-container">
          <hr class="solid-line">
          <div class="dot-line">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
          </div>
        </div>
        <div class="code-container">
          <div class="code-one"></div>
          <div class="code-two"></div>
          <div class="code-three"></div>
          <div class="code-four"></div>
          <div class="code-five"></div>
          <div class="code-six"></div>
          <div class="code-seven"></div>
          <div class="code-eight"></div>
          <div class="code-nine"></div>
          <div class="code-ten"></div>
          <div class="code-eleven"></div>
          <div class="code-twelve"></div>
          <div class="code-thirteen"></div>
        </div>
      </div>
    </div>
  </div>
</div>

