<div class="about-container" (wheel)="onScroll($event)">
  <div class="section-title">
    <h1>About <span>Me</span></h1>
  </div>
  <div class="about-me-description">
    <div class="about-me-description-title">
      <h3>Front-End Developer</h3>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusantium asperiores ea earum error fugit illo illum iusto,
    labore maiores minus nihil quidem tempore ullam. Dolor earum eius perferendis quaerat quia?
    labore maiores minus nihil quidem tempore ullam. Dolor earum eius perferendis quaerat quia?
    labore maiores minus nihil quidem tempore ullam. Dolor earum eius perferendis quaerat quia?
</div>
  <button mat-raised-button class="read-more">Read More</button>
</div>
