<section class="home-container">
  <div class="home-content">
    <h1>Hi, I'm <span>Adam Toda</span></h1>
    <div class="home-text-animation">
      <h3>Frontend Developer</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut beatae commodi consectetur dolor dolore dolorem ducimus expedita fugiat,
      in laborum libero modi mollitia nam perspiciatis, quaerat quod rem, voluptate!
    </p>
    <div class="home-buttons">
      <a href="" class="btn">Hire me</a>
      <a href="" class="btn">Let's Talk</a>
    </div>
  </div>
  <div class="button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="animated-arrow" routerLinkActive="active" (click)="navigateToAbout()">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>

</section>
