
.home-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 80px;
}

.home-content h1{
  font-size: 3rem;
  font-weight: 700;
  color: #ededed;
  margin-bottom: 15px;
}

.home-content  h1 span {
  color: #00abf0;
}
.home-content .home-text-animation h3 {
  font-size: 3.2rem;
  font-weight: 700;
  height: 66px;
  color: transparent;
  padding-top: 15px;
  margin-top: 30px;
  -webkit-text-stroke: .7px #00abf0;
  background-image: linear-gradient(#00abf0, #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}
fa-icon {
  font-size: 50px;
  color: #00ABF0;
}
.home-content .home-text-animation h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid #00abf0;
  z-index: -1;

}
.home-content p{
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  color: #ededed;
  letter-spacing: 2px;
}

.home-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34rem;
  height: 5rem;
}

.home-buttons .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 100%;
  background: #00abf0;
  border: .2rem solid #00abf0;
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #081b26;
  text-decoration: none;
}
.next-section {
  position: relative;
  display: flex;
  justify-content: center;
  top: 160px;
  border-radius: 50%;
  border: #00abf0;
}
.animated-arrow {
  position: relative;
  animation: bounceAnimation 1s infinite;
  background: #00abf0 !important;
}

.animated-arrow mat-icon {
  transition: transform 0.3s ease-in-out;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.button-container {
  padding-top: 50px;
  justify-content: center;
  display: flex;
}

.home-description{
  line-height: 45px;
}

@keyframes homeBgText {
  0%,10%,100% {
    background-position: -70rem 0;
  }
  65%,85% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 915px){
  .home-content .home-text-animation h3 {
    font-size: 2.2rem;
  }
  .home-content h1 {
    font-size: 2rem;
  }
}
/*@media screen and (max-width: 395px){*/
/*  .home-content {*/
/*    width: 50%;*/
/*    padding: 60px;*/
/*  }*/
/*  .home-content .home-text-animation h3 {*/
/*    font-size: 43px;*/
/*  }*/

/*  .home-buttons{*/
/*    gap: 70px;*/
/*    width: 25rem;*/
/*  }*/
/*}*/
 img {
  width: 40%;
  height: 40%;
}
laptop-image {
  display: inline-block;
  position: absolute;
  top: 25%;
  width: 100%;
  left: 60%;
}
@media screen and (max-width: 450px){
  .home-content {
    width: 100%;
    padding: 25px 50px 0 50px
  }
  .home-content .home-text-animation h3 {
    font-size: 30px;
    margin-top: 0;
    height: 30px;
  }
  .home-content .home-description {
    margin: 0;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    width: 60%;
  }
  .home-buttons{
    margin-top: 50px;
    gap: 17px;
    height: 7rem;
    flex-direction: column;
  }
  .btn {
    height: 63%;
    font-size: 1.1rem;
  }

  .button-container {
    padding-top: 0;
  }
  laptop-image {
    display: none;
    width: 0;
  }
  .home-container {
    position: relative;
    left: 0;
  }
}
