<div class="menu-container">
  <div class="author-name">
<!--      Adam Toda.-->
  </div>
  <li class="burger" (click)="toggleMenu()">
    <i class="material-icons">{{isMenuOpen ? "close" : "menu"}}</i>
  </li>
  <nav class="nav-links" [class.is-open]="isMenuOpen">
    <a routerLinkActive="active" [class.active]="isHomeActive" (click)="navigateToHome($event)" class="active">Home</a>
    <a routerLinkActive="active" [class.active]="isAboutActive" (click)="navigateToAbout()">About</a>
    <a routerLinkActive="active" [class.active]="isSkillsActive" (click)="navigateToSkills()">Skills</a>
    <a href="">Education</a>
    <a href="">Contact</a>
  </nav>
</div>
<div class="dot-container">
  <div class="pagination">
    <span class="dot"  [class.active]="isHomeActive" routerLinkActive="active" (click)="navigateToHome($event)"></span>
    <span class="dot" [class.active]="isAboutActive" routerLinkActive="active" (click)="navigateToAbout()"></span>
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToHome('skills')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToHome('education')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToHome('contact')"></span>-->
  </div>

</div>
