<div class="menu-container">
  <div class="author-name">
<!--      Adam Toda.-->
  </div>
<!--  <button mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <nav class="nav-links">
    <a routerLinkActive="active" [class.active]="isHomeActive" (click)="navigateToHome()" class="active">Home</a>
    <a routerLinkActive="active" [class.active]="isAboutActive" (click)="navigateToAbout()">About</a>
    <a href="">Skills</a>
    <a href="">Education</a>
    <a href="">Contact</a>
  </nav>
</div>
<div class="dot-container">
  <div class="pagination">
    <span class="dot"  [class.active]="isHomeActive" routerLinkActive="active" (click)="navigateToHome()"></span>
    <span class="dot" [class.active]="isAboutActive" routerLinkActive="active" (click)="navigateToAbout()"></span>
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToHome('skills')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToHome('education')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToHome('contact')"></span>-->
  </div>
</div>
