<div class="menu-container">
  <div class="author-name">
      Adam Toda.
  </div>
<!--  <button mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <nav class="nav-links">
    <a routerLinkActive="active" (click)="navigateToHome()" class="active">Home</a>
    <a href="">About</a>
    <a href="">Skills</a>
    <a href="">Education</a>
    <a href="">Contact</a>
  </nav>
</div>
<div class="dot-container">
  <div class="pagination">
    <span class="dot active" routerLinkActive="active" (click)="navigateToHome()"></span>
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToAbout('about')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToAbout('skills')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToAbout('education')"></span>-->
<!--    <span class="dot" routerLinkActive="active" (click)="navigateToAbout('contact')"></span>-->
  </div>
</div>
