:root {
  --bg-color: #081b26;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #db6969;*/
  padding: 10px;
}

.author-name {
  flex: 1;
  padding-left: 10%;
  font-weight: bold;
  font-size: 25px;
  color: var(--text-color);
}

.nav-links {
  display: flex;
}

.nav-links a {
  font-size: 1.2rem;
  margin-right: 20px;
  text-decoration: none;
  color: var(--text-color);
  transition: .4s;
}
.nav-links a.active,
.nav-links a:hover{
  color: var(--main-color)
}

.dot-container{
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 40px;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
}
.dot.active,
.dot:hover {
  background: #00abf0;
}
span {
  z-index: 555;
}
