/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #081b26;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);

}
@media screen and (max-width: 915px){
  .author-name {
    display: none;
  }
}

main {
  position: relative;
}
